# Kafka

# Replace {{ BROKER_ENDPOINT }} for your Confluent Cloud cluster, e.g. --> bootstrap.servers=pjc-gfp27a.us-east-1.aws.confluent.cloud:9092
bootstrap.servers={{ BROKER_ENDPOINT }}
# Replace {{ CLUSTER_API_KEY }} and {{ CLUSTER_API_SECRET }}, e.g. --> sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='AWM3KEX73L0H4G2NN' password='rtD3+rr1kRN0+NaNpK0Ko30nl0J1qf4yMGON1xOwp8Ttd/TuH1K3r7YP1yAi4LYj';
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username={{ CLUSTER_API_KEY }} password={{ CLUSTER_API_SECRET }}
security.protocol=SASL_SSL
sasl.mechanism=PLAIN


# ---- SCHEMA REGISTRY ---- #

# Replace {{ SR_URL }} for your Confluent Cloud cluster, e.g. --> schema.registry.url=https://plrc-8wkwl.us-central1.gcp.confluent.cloud
schema.registry.url={{ SR_URL }}
basic.auth.credentials.source=USER_INFO
# Replace {{ SR_API_KEY }} and {{ SR_API_KEY }}, e.g. --> basic.auth.user.info=BMPTJABFNAKVBLH:F+DajuFysCnm+QICAmnafnafFMN78Fc8bYwRS4PY1gS4TxMi8ju/7Xt0dEFIoojfENS
basic.auth.user.info={{ SR_API_KEY }}:{{ SR_API_KEY }}